# Node and Svelte specific
.yarn
node_modules
build
.svelte-kit
.pnp.*
.yarnrc.yml

# Python specific
*.py[cod]
__pycache__/
*.sqlite
frames

# Virtual environments
backendVenv/
modelsVenv/
ModelsVenv/
agentVenv/
brokerVenv/
processVenv/

# IDE specific
.idea
.vscode

# Environment files
.env
.env.local

# SSL and encryption files
*.pem
*.enc

# SQLite databases
database.sqlite

# Django specific
/Django/__pycache__

# Other specific folders and files
frames
petal.mp4
