.yarn
node_modules
build
backendVenv
modelsVenv
ModelsVenv
.pyc
.idea
.env
.env.local
.yarnrc.yml
.sqlite
frames
.pnp.*
agentVenv
brokerVenv
.pem
.enc
frames
processVenv
database.sqlite
__pycache__
.svelte-kit