/* global.css */
@tailwind base;
/* @tailwind components; * */
@tailwind utilities;
@tailwind themes;
/* @tailwind components; */

.slider-input.connected {
    display: flex;
    justify-content: center;
    gap: 10px !important;
  }

  .apexcharts-legend-text {
    color: white !important;
  }

  .primary-text{
    color:#0099ff !important;
    caret-color:#0099ff !important;
  }